## Project Introduction

Goals of this project is to produce a model that predict fake news.

Step 1 - To clean the data

1. removing duplicates
2. check if any dirty data

In [2]:
import numpy as np
import pandas as pd

In [6]:
df = pd.read_csv("../../data/raw/fake-news-train.csv", sep=";")
df.head()

,Unnamed: 0,title,text,label
0,0,Palestinians switch off Christmas lights in Be...,"RAMALLAH, West Bank (Reuters) - Palestinians s...",1
1,1,China says Trump call with Taiwan president wo...,BEIJING (Reuters) - U.S. President-elect Donal...,1
2,2,FAIL! The Trump Organization’s Credit Score W...,While the controversy over Trump s personal ta...,0
3,3,Zimbabwe military chief's China trip was norma...,BEIJING (Reuters) - A trip to Beijing last wee...,1
4,4,THE MOST UNCOURAGEOUS PRESIDENT EVER Receives ...,There has never been a more UNCOURAGEOUS perso...,0

In [7]:
## Checking the data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24353 entries, 0 to 24352
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  24353 non-null  int64
 1   title       24353 non-null  object
 2   text        24353 non-null  object
 3   label       24353 non-null  int64
dtypes: int64(2), object(2)
memory usage: 761.2+ KB

In [8]:
## Check if is null data
df[df.isna()].sum()

Unnamed: 0    0.0
title           0
text            0
label         0.0
dtype: object

In [9]:
df[df.isna().any(axis=1)]

Empty DataFrame
Columns: [Unnamed: 0, title, text, label]
Index: []

In [10]:
df.title.duplicated().sum()

np.int64(291)

In [11]:
## Because there are 291 duplicated title, we can drop the records
df.drop_duplicates(subset='title', keep='first', inplace=True)

In [14]:
## After clean we want to save the CSV, so we can use on other step

df.to_csv("../../data/processed/fake-news-train.csv")